body {
    font-family: Arial, sans-serif;
    background-color: #192709;
    margin: 0;
    padding: 0;
    color:#4e4c54;
}

.dark-mode {
    background-color: #121212;
    color: #e0dabf;
}

#dark-mode {
    color: lightblue;
    background-color: rgb(66, 87, 66);
}

h2 {
    color: #e0dabf;
    text-align: center;
}

.all-links {
    text-align: center;
    width: 35%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.links {
    background-color: rgb(66, 87, 66);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: lightblue;
    font-size: 130%;
}

button {
    background: #84bcdc;
    padding: 10px 15px;
    border: none;
    color: #4e4c54;
    border-radius: 5px;
}

button:hover {
    background: #6ea8d6;
    cursor: pointer;
}

a {
    color: #84bcdc;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 10px 0;
}

.logo{
  display: block;
  margin: auto;
  width: 30%;
}

/* General form styling */
form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="url"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #333;
    color: white;
}

form ul {
    list-style-type: none;
    padding: 0;
    color: #f66;
}

form ul li {
    font-size: 0.8rem;
}
