{% extends 'base.html' %}

{% block title %}Echo Chat - {{ room_name }}{% endblock %}
<!-- This is there so that tile says echo chat -->

{% block content %}
    <div class="container-fluid h-100 p-0">
      <div class="row h-100 g-0">
        <!-- User List Sidebar , it has (4 Columns) -->
        <div class="col-3 sidebar p-3 chats">
          <h5 class="mb-3 text-white">Chats</h5>
          <div class="contacts">
            {% for item in user_last_messages %}
            <a
              href="{% url 'chat' room_name=item.user.username %}"
              class="list-group-item list-group-item-action {% if item.user.username == room_name %} active {% endif %}"
              data-id="{{ room_name }}"
            >
{% endblock %}