<!-- Dani added this new template for creating group chats we can delete it if not needed -->
{% extends 'base.html' %}
{% block title %}Create Group Chat{% endblock %}
{% block content %}
  {% include 'nav-bar.html' %}
  <div class="group-chat-area">
    <div class="create" style="text-align: left;">
        <h2>Create New Group Chat</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Create Chat</button>
        </form>
    </div>

    <div class="existing-groups">
        <h2>Existing Groups</h2>
        <ul>
            {% for group in groups %}
                <a href="{% url 'group_chat' group.id %}">{{ group.name }}</a>
            {% empty %}
            <li>No groups yet.</li>
            {% endfor %}
        </ul>
    </div>
    </div>
{% endblock %}


                                                                                                                        