<!-- Dani Added this it will be deleted if not needed  -->
{% extends 'base.html' %}
{% block content %}
  {% include 'nav-bar.html' %}
  <div class="group-chat-area">
    <h2>{{ group.name }} Chat</h2>

    <div id="group-chat-messages">
        {% for msg in messages %}
            <p class="message current-user" ><strong>{{ msg.sender.username }}:</strong> {{ msg.content }}</p>
        {% empty %}
            <p>No messages yet.</p>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        <div id="chat-message-input">
            {{ form.content }}
            <button type="submit">Send</button>
        </div>
    </form>
    </div>
{% endblock %}
