<!-- Dani Added this it will be deleted if not needed  -->
{% extends 'base.html' %}
{% block content %}
  {% include 'nav-bar.html' %}
  <div class="group-chat-area">
    <h1>{{ group.name }} Chat</h1>

    <div id="group-chat-messages">
        {% for msg in messages %}
            <p><strong>{{ msg.sender.username }}:</strong> {{ msg.content }}</p>
        {% empty %}
            <p>No messages yet.</p>
        {% endfor %}
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    </div>
{% endblock %}
