{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    <img text-align class="logo" src="static/images/echochatlogo.png" alt="echochatlogo">
    {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'password_change' %}">Password Change</a></p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    {% else %}
    <h2>You are not logged in</h2>
    <p><a class="links" href="{% url 'login' %}">Log In</a></p>
    <p><a class="links" href="{% url 'signup' %}">Sign Up</a></p>
    <p><a class="links" href="{% url 'password_reset' %}">Password Reset</a></p>
    {% endif %}
{% endblock %}