{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include 'nav-bar.html' %}
    <h2>Hi {{ user.username }}!</h2>
    <h2>Recent Chats</h2>
      <div class="row h-100 g-0">
        <!-- User List Sidebar -->
        <div class="col-3 sidebar p-3 users">
          <h5 class="mb-3 text-white">Users</h5>
          <div class="contacts">
            {% for u in users %}
            <a
              href="/echochatapp/private_chat/{{ request.user.id }}_{{ u.id }}/"
              class="list-group-item list-group-item-action"
            >
              {{ u.username }}
            </a>
            {% endfor %}
          </div>
        </div>
    {% else %}

    <img text-align class="logo" src="static/images/echochatlogo.png" alt="echochatlogo">
    <div class="all-links">
        <div><a class="links" href="{% url 'login' %}">Log In</a></div>
        <div><a class="links" href="{% url 'signup' %}">Sign Up</a></div>
    </div>
    {% endif %}
{% endblock %}