{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include 'nav-bar.html' %}
    <h2>Hi {{ user.username }}!</h2>
    
    {% else %}
    <img text-align class="logo" src="static/images/echochatlogo.png" alt="echochatlogo">
    <div class="all-links">
        <div><a class="links" href="{% url 'login' %}">Log In</a></div>
        <div><a class="links" href="{% url 'signup' %}">Sign Up</a></div>
    </div>
    {% endif %}
{% endblock %}