{% extends 'base.html' %}

{% block title %}Private Chats{% endblock %}

{% block content %}
  {% if users != false %}
    <!-- User List Sidebar -->
    <div class="col-3 sidebar p-3 users">
      <h5 class="mb-3 text-white">Find User</h5>
      <div class="contacts">
        {% for u in users %}
        <a
          href="/echochatapp/private_chat/{{ request.user.id }}_{{ u.id }}/"
          class="list-group-item list-group-item-action"
        >
          {{ u.username }}
        </a>
        <br>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if users == false %}
    <div class="container-fluid h-100 p-0">
      <div class="row h-100 g-0">
        {% include 'nav-bar.html' %}
        <button type="button" onclick="find_user_page()">Find User</button>
        <!-- Chat Area -->
        <div class="col-9 chat-area">
            <h2>Private Chat with {{ other_user.username }}</h2>
            <input id="chat-message-input" type="text" size="100"><br>
            <input id="chat-message-submit" type="button" value="Send">
            {{ private_chat_id|json_script:"private-chat-id" }}
            <div id="chat-messages">
                {% for message in messages %}
                <div class="message{% if message.sender == request.user %} current-user{% endif %}">
                    <strong>{{ message.sender.username }}:</strong> {{ message.content }}
                </div>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}