{% extends 'base.html' %}

{% block title %}Private Chats{% endblock %}

{% block content %}
  {% include 'nav-bar.html' %}
  {% if users != false %}
    <!-- User List Sidebar -->
    <!-- <div class="col-3 sidebar p-3 users">
      <h5 class="mb-3 text-white">Find User</h5>
      <div class="contacts">
        {% for u in users %}
        <a
          href="/echochatapp/private_chat/{{ request.user.id }}_{{ u.id }}/"
          class="list-group-item list-group-item-action"
        >
          {{ u.username }}
        </a>
        <br>
        {% endfor %}
      </div>
    </div> -->
      
    <h2>Private Chats</h2>

    <div class="main-content">
        <div class="user_groups">
            <h3 class="private_chat_heading3_styles">Chat Requests</h3>
            {% if extra_info != 'No Chat Requests' %}
              {% for info in extra_info %}
                <p>To: {{info.receiver_name}}</p>
                <p>Status: {{info.chat_request}}</p>
                <form action="{% url 'private_chats' %}" method="post">
                    {% csrf_token %}
                    <label class="hidden-checkbox">
                        <input type="checkbox" name="Cancel Request" value="cancel" checked>
                        <input type="text" name="Get User" value="{{info.receiver_name}}">
                    </label>
                    <button type="submit">Cancel</button>
                </form>              
                <br>
              {% endfor %}
            {% endif %}
            {% if extra_info == 'No Chat Requests' %}
                {{extra_info}}
            {% endif %}
        </div>

        <div class="users">
            <h3 class="private_chat_heading3_styles">Chats</h3>
            <p>No Chats</p>
        </div>

        <div class="search">
            <h3 class="private_chat_heading3_styles">Search for User</h3>
            <form action="{% url 'private_chats' %}" method="post">
                {% csrf_token %}
                {{name_form}}
                <br>
                <button type="submit">Search</button>
            </form>
            <p>{{test.POST}}</p>
            {% if user != 'none' %}
                {% if user != 'sent chat request' %}
                  {% if user != 'no name form' %}
                    {% if user != 'none with that name' %}
                      <p>Found: {{user}}</p>
                      <form action="{% url 'private_chats' %}" method="post">
                          {% csrf_token %}
                          <label class="hidden-checkbox">
                              <input type="checkbox" name="Chat Request" value="Pending" checked>
                              <input type="text" name="user" value="{{user}}">
                          </label>
                          <button type="submit">Send Chat Request</button>
                      </form>
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if user == 'sent chat request' %}
                  <p>Sent Chat Request</p>
                {% endif %}
            {% endif %}

            {% if user == 'none with that name' %}
                <p>User not found.</p>
            {% endif %}
        </div>        
    </div>
    <br>
    <!-- <button type="button" onclick="home_page()">Home</button> -->
  {% endif %}
  {% if users == false %}
    <div class="container-fluid h-100 p-0">
      <div class="row h-100 g-0">
        <!-- {% include 'nav-bar.html' %} -->
        
        <!-- Chat Area -->
        <div class="col-9 chat-area">
            <h2>Private Chat with {{ other_user.username }}</h2>
            {{ private_chat_id|json_script:"private-chat-id" }}
            <div id="chat-messages">
                {% for message in messages %}
                <div class="message{% if message.sender == request.user %} current-user{% endif %}">
                    <strong>{{ message.sender.username }}:</strong> {{ message.content }}
                </div>
                {% endfor %}
            </div>
            <input id="chat-message-input" type="text" size="100">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
        <button type="button" onclick="find_user_page()">Find User</button>
      </div>
    </div>
  {% endif %}
{% endblock %}