.body {
    font-family: Arial, sans-serif;
    background-color: #192709;
    margin: 0;
    padding: 0;
    color:#4e4c54;
}

.light {
    font-family: Arial, sans-serif;
    background-color: #eaefe3;
    margin: 0;
    padding: 0;
    color:#4e4c54;
}

.logo{
    display: block;
    margin: auto;
    width: 30%;
}

h2 {
    color: #e0dabf;
    text-align: center;
}

.all-links {
    text-align: center;
    width: 35%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}

.links {
    background-color: rgb(66, 87, 66);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    color: lightblue;
    font-size: 130%;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 10px 0;
}

.login-page {
    width: 30%;
    margin: 35px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue;
}

.content-login {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-page {
    max-width: 40%;
    margin: 35px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue;
    display: flex;
    flex-direction: column;
}

.content-signup {
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.password-change {
    max-width: 40%;
    margin: 35px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue;
    display: flex;
    flex-direction: column;
}

.password-change-cont{
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    background: #84bcdc;
    padding: 10px 15px;
    border: none;
    color: #4e4c54;
    border-radius: 5px;
}

.button-style {
    background: #84bcdc;
    padding: 10px 15px;
    border: none;
    color: #4e4c54;
    border-radius: 5px;
}

button:hover {
    background: #6ea8d6;
    cursor: pointer;
}


.nav-bar ul li :hover {
    background-color: #192709;
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 200px;
    background-color: rgb(66, 87, 66);
    height: 100%; 
    position: fixed; 
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.nav-bar ul li {
    float: left;
}
.nav-bar ul li a {
    color: rgb(66, 87, 66);
    text-decoration: none;
    display: block;
} 

.nav-bar ul li button {
    /* display: block;  */
    margin: auto;
    width: 100%;
    background-color: rgb(66, 87, 66);
    color: lightblue;
    padding: 10px;
    font-size: 15px;
}

.main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user_groups {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue; 
}

.users {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue; 
}

.search {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: rgb(66, 87, 66);
    color: lightblue; 
}

.private_chat_heading3_styles {
    justify-self: center;
}



