body {
    font-family: Arial, sans-serif;
    background-color: #192709;
    margin: 0;
    padding: 0;
    color:#4e4c54;
}

h2 {
    color: #e0dabf;
    text-align: center;
}

form {
    max-width: 40%;
    margin: 35px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #8ca3b7;
    display: flex;
    flex-direction: column;
}

button {
    background: #84bcdc;
    padding: 10px 15px;
    border: none;
    color: #4e4c54;
    border-radius: 5px;
}

button:hover {
    background: #6ea8d6;
    cursor: pointer;
}

a {
    color: #84bcdc;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 10px 0;
}






