{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
    <h2>Log In</h2>
    <div class="login-page" id="login-form-div">
        <form method="post">
        {% csrf_token %}
            <div class="content-login">
                {{ form }}
            </div>
            <button type="submit" class="login-btn">Log In</button>
            <button type="button" class="login-btn" onclick="home_page()">Cancel</button>
        </form>
    </div>
{% endblock %}