{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
    <p>hello</p>
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
{% endblock %}
